.navbar-brand img {
    max-width: 110px;
}
  
.nav-link {
    border-radius: 10px;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.nav-link:hover {
    background-color: rgba(16, 152, 173, 0.3);
    transform: translateY(-2px);
    translate: 2s;
    padding: 8px 12px;
    cursor: pointer;
}

.container h1{
    font-weight: 700;
    margin-top: 50px;
    margin-bottom: 30px;
}

.custom-vh{
    min-height: 75vh;
}

.btn{
    background-color:  rgb(16, 152, 173);
    border-radius: 20px;
    padding: 8px 20px;
    border: transparent;
    color: whitesmoke;
    font-weight: 500;
}

.btn:hover{
    background-color: rgb(255, 68, 0);
    translate: 2s;
    color: whitesmoke;
    font-weight: 500;
}

.col-12 img{
    max-height: 320px;
    object-fit: contain;
}

.btn a{
    text-decoration: none;
    color: inherit;
}

.custom-opacity{
    opacity: 0.6;
}

.card img{
    max-width: 600px;
    max-height: 450px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.custom-card{
    border-radius: 20px;
}

.custom-card:hover{
    border-radius: 20px;
    transform: translateY(-3px);
    box-shadow: 10px 10px 53px 0px rgba(186,186,186,0.5);
    -webkit-box-shadow: 10px 10px 53px 0px rgba(186,186,186,0.5);
    -moz-box-shadow: 10px 10px 53px 0px rgba(186,186,186,0.5);
    transition: 1s;
}

.rounded-circle{
    max-width: 200px;
}

.color{
    background-color: rgb(16, 152, 173);
    color: whitesmoke;
}

.carousel-inner img{
    height: 500px;
    object-fit: cover;
}

footer{
    background-color: rgb(16, 152, 173);
    color: whitesmoke;
    text-align: center;
    padding: 20px;
    font-style: italic;
}

@media (max-width: 800px){
    .card img{
        max-width: 600px;
        max-height: 450px;
    }
}
